@import "../../global.scss";

.menu {
    width: 300px;
    height: 100%;
    background-color: $menuColor;
    position: fixed;
    top: 0;
    right: -400px;
    z-index: 30;
    display: flex;
    justify-content: right;
    flex-direction: column;
    transition: all .4s ease;
    opacity: 0;

    &.active {
        right: 0;
        opacity: 1;
    }

    ul {
        height: 60%;
        margin-top: 110px;
        margin-right: 40px;
        padding: 0;
        list-style: none;
        color: #FCECD1;
        font-size: 24px;
        text-align: right;

        li {
            margin-bottom: 30px;
            
            a {
                font-family: 'Poppins', sans-serif;
                text-align: inherit;
                text-decoration: none;
                color: inherit;
                font-size: inherit;
                font-weight: 500;
            }

            &:hover {
                color: #F09F71;
                transition: all .5s ease;
            }
        }
    }

    .bottom {
        height: 40%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;

        svg {
            height:40px;
            margin-left: 8px;

            .cls-1,.cls-3,.cls-4 {
                transition: all .4s ease;
                stroke:#FCECD1;
            }
            .cls-2 {
                transition: all .4s ease;
                fill:#FCECD1;
            }

            @media screen and (max-width: 750px)
            {
                height: 30px;
            }
        }

        a {
            margin-top: 5px;
            margin-bottom: 20px;
            font-size: 40px;
            text-align: center;
            color: #FCECD1;
            font-weight: 100;
            text-decoration: none;

            @media screen and (max-width: 750px)
            {
                font-size: 30px;
            }
        }
    }
}